<!DOCTYPE html>
<html>
    <head>
        <title>TMK OKUL KONSEYİ SEÇİMİ</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <style>
            h1{
                text-align: center;
                padding-bottom: 3%;
            }
            img{
                padding-bottom: 3%;
            }
        </style>
    </head>
    <body>
        <h1><span class="oddh">T</span><span class="evenh">M</span><span class="oddh">K</span><br/> <span id="Startheadrest">Kaptanlık Seçimine Hoş Geldiniz!!!</span></h1>
        <img src="static/logo.png" id="logo"/><br/>
        <a href="/vote" id="votepage" target="_self">Oy ver</a>
    </body>
</html>